@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-family: MrEavesXLModOT-Reg, Helvetica, Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: normal;
}

.archivepage-wrap {
  max-width: 1280px;
  height: 2000px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, li, ul {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1200px) {
  .archivepage-wrap {
    max-width: auto;
    margin: 0 auto;
  }
}

@font-face {
  font-family: "MrEavesXLModOT-Reg";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MrEavesXLModOT-Reg.ttf") format("woff2");
}

@font-face {
  font-family: "MrEavesXLModOT";
  font-style: normal;
  font-weight: 700;
  src: url("../MrEavesXLModOT-Bold.ttf") format("woff2");
}

@font-face {
  font-family: "MrEavesXLModOT-Reg";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MrEavesXLModOT-Reg.ttf") format("woff2");
}

@font-face {
  font-family: "MrEavesXLModOT";
  font-style: normal;
  font-weight: 700;
  src: url("../MrEavesXLModOT-Bold.ttf") format("woff2");
}

.archivepage-promo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.archivepage-promo__item {
  position: relative;
  max-width: 632px;
  width: 100%;
  max-height: 603px;
  height: 100%;
  margin: 0 3px;
}

.archivepage-promo__item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.archivepage-promo__item-content-wrap {
  padding-left: 60px;
  padding-top: 80px;
}

.archivepage-promo__item-breadcrumbs {
  color: #ffffff;
  font-size: 1rem;
  font-weight: normal;
  margin: 10px 0px 0px 20px;
  text-transform: uppercase;
}

.archivepage-promo__item-text {
  color: #ffffff;
}

.archivepage-promo__item-text h2 {
  font-family: MrEavesXLModOT, Helvetica, Roboto, Arial, sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

.archivepage-promo__item-text p {
  color: #ffffff;
  height: 150px;
  font-family: MrEavesXLModOT-Reg, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.12rem;
  line-height: 1.33;
  letter-spacing: 0.15px;
  width: 332px;
}

.btn {
  border: solid 2px #8a95a6;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.archivepage-promo__item-button {
  background-color: transparent;
  color: #ffffff;
  font-family: MrEavesXLModOT, Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  height: 55px;
  text-transform: uppercase;
  width: 200px;
}

.archivepage-promo__item-button:hover {
  border: solid 2px #ffffff;
  background-color: #ffffff;
  color: #0020b1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.archivepage-promo__item-bgimg img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.archivepage-promo__item-videoIcon {
  height: 122px;
  position: absolute;
  display: block;
  margin: auto;
  top: calc(50% - 61px);
  left: calc(50% - 61px);
  width: 122px;
}

.archivepage-content-wrap {
  width: 100%;
  padding: 0 50px;
}

.archivepage-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.archivepage-title {
  margin-top: 25px;
}

.archivepage-title h1 {
  font-family: MrEavesXLModOT, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.9rem;
  font-weight: bold;
  letter-spacing: 0.28px;
  color: #000000;
}

.archive-mobile-filters {
  display: none;
}

.archivepage-filters {
  width: 30%;
  min-width: 200px;
  margin-right: 20px;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}

.archivepage-filter:last-child {
  margin-top: 40px;
}

.archivepage-filter__title {
  width: 100%;
  padding: 25px 0px;
  border-top: solid 1px #e1e1e1;
  border-bottom: solid 1px #e1e1e1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.archivepage-filter__title h3 {
  font-family: MrEavesXLModOT, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.16px;
  color: #000000;
  text-transform: uppercase;
  margin-left: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.archivepage-filter__icon {
  width: 26px;
  height: 26px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.archivepage-filter__icon_closed {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.archivepage-filter__items {
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  list-style: none;
  padding: 17px 0px 0px 20px;
}

.filter-items_hide {
  display: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.archivepage-filter__item-link {
  color: #000000;
  font-family: MrEavesXLModOT-Reg, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  letter-spacing: 0.16px;
}

.archivepage-filter__item-link:hover {
  color: #0020b1;
}

.archivepage-filter__item-name {
  margin-bottom: 9px;
}

.archivepage-cars {
  width: 70%;
  min-width: 880px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.archivepage-car {
  background-color: #ffffff;
  border-radius: 10px;
  border: solid 1px #e1e1e1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 277px;
  margin-top: 25px;
}

.archivepage-car__logo {
  padding: 9px 0px 9px 9px;
}

.archivepage-car__img {
  height: auto;
  min-width: 305px;
  border-radius: 10px 0px 0px 10px;
}

.archivepage-car__title {
  font-family: MrEavesXLModOT, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.18px;
  color: #000000;
  margin: 22px 0px 15px;
  height: 30px;
  overflow: hidden;
}

.archivepage-car__title span {
  font-size: 1.3rem;
  font-family: MrEavesXLModOT-Reg, Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.archivepage-car__details {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(12%, #ececec), color-stop(51%, #d7d7dc), color-stop(98%, #ececec));
  background-image: -o-linear-gradient(left, #ececec 12%, #d7d7dc 51%, #ececec 98%);
  background-image: linear-gradient(to right, #ececec 12%, #d7d7dc 51%, #ececec 98%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 34px;
  list-style: none;
  padding-left: 35px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.archivepage-car__details li {
  color: #000000;
  font-family: MrEavesXLModOT-Reg, Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.13px;
}

.archivepage-car__details li::after {
  content: " \2022";
  margin: 0 8px 0 5px;
}

.archivepage-car__details li:last-child::after {
  content: "";
}

.archivepage-car__details li span {
  font-family: MrEavesXLModOT, Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.11px;
}

.archivepage-car__descr {
  color: #504f4f;
  font-family: MrEavesXLModOT-Reg, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.13px;
  margin: 20px 0;
  height: 76px;
  overflow-y: hidden;
}

.archivepage-car__viewDetailsBtn {
  border-radius: 3px;
  border: solid 1px #0020b1;
  background-color: #ffffff;
  color: #0020b1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: MrEavesXLModOT, Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  height: 41px;
  text-align: left;
  padding: 0 17px;
  width: 154px;
}

.archivepage-car__viewDetailsBtn:hover {
  border-color: #ffffff;
  background-color: #0020b1;
  color: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.archivepage-car_padding {
  margin-left: 35px;
}

.archivepage-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 35px;
}

.archivepage-pagination .pagination {
  margin: 0;
}

.archivepage-pagination .pagination .current {
  background-color: #ffffff;
  color: #000000;
  font-family: MrEavesXLModOT-Reg, Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 900;
  letter-spacing: 0.11px;
  padding: 0 0.5rem;
}

.archivepage-pagination .pagination a {
  padding: 0 0.5rem;
}

.archivepage-pagination .pagination .dots {
  margin-right: 53px;
  position: relative;
}

.archivepage-pagination .pagination .dots::before {
  content: "";
  position: absolute;
  width: 53px;
  height: 1px;
  top: 7px;
  background: #0120b1;
}

.archivepage-pagination .pagination .prev {
  position: relative;
  padding-right: 27px;
}

.archivepage-pagination .pagination .prev::after {
  content: "";
  position: absolute;
  top: -18px;
  left: 0;
  width: 27px;
  height: 27px;
  background-image: url("../img/arrows-2.svg");
}

.archivepage-pagination .pagination .next {
  position: relative;
  padding-right: 27px;
}

.archivepage-pagination .pagination .next::after {
  content: "";
  position: absolute;
  top: -18px;
  right: 0;
  width: 27px;
  height: 27px;
  background-image: url("../img/arrows-2.svg");
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.archivepage-relarticles-wrap {
  width: 100%;
  padding: 0 50px;
}

.archivepage-relarticles__title {
  font-family: MrEavesXLModOT, Helvetica, Roboto, Arial, sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.29px;
  color: #000000;
  padding-bottom: 7px;
  border-bottom: 1px solid #979797;
}

.archivepage-relarticle {
  border-radius: 11px;
  border: solid 1px #dcdcdc;
  background-color: #ffffff;
  width: 100%;
  max-width: 373px;
  margin-top: 25px;
}

.archivepage-relarticle__logo {
  padding: 9px 9px 0px;
  width: 100%;
}

.archivepage-relarticle__img {
  width: 100%;
  height: auto;
  border-radius: 7px 7px 0px 0px;
}

.archivepage-relarticle__content {
  padding: 21px;
}

.archivepage-relarticle__subtitle {
  font-family: MrEavesXLModOT-Reg, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.13px;
  line-height: 2.38;
  color: #000000;
  text-transform: uppercase;
}

.archivepage-relarticle__title {
  font-family: MrEavesXLModOT, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.24px;
  color: #000000;
}

.archivepage-relarticle__descr {
  font-family: MrEavesXLModOT-Reg, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 1.44;
  letter-spacing: 0.15px;
  color: #000000;
  margin-top: 6px;
}

.archivepage-relarticle__readmore {
  color: #0020b1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: MrEavesXLModOT, Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: 900;
  height: 41px;
  letter-spacing: 0.13px;
  text-align: left;
  padding-right: 17px;
}

.archivepage-relarticle__readmore i {
  margin-left: 7px;
}

.archivepage-relarticle__readmore:hover {
  color: #0020b1;
}

.archivepage-relarticle__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #dcdcdc;
  margin-top: 13px;
  padding-top: 13px;
}

.archivepage-relarticle__date,
.archivepage-relarticle__comments {
  font-family: MrEavesXLModOT-Reg, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0.13px;
  color: #000000;
  position: relative;
}

.archivepage-relarticle__comments::before {
  content: "";
  position: absolute;
  background-image: url("../img/chat-comment-oval-speech-bubble-with-text-lines.svg");
  width: 26px;
  height: 26px;
  top: -4px;
  right: 30px;
}

/*1200 и меньше */
@media only screen and (max-width: 1200px) {
  .archivepage-promo {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .archivepage-promo__item {
    margin: 0;
  }
  .archivepage-promo__item:first-child {
    margin-bottom: 5px;
  }
}

/*660 и меньше */
@media only screen and (max-width: 660px) {
  .archivepage-promo__item-bgimg img {
    width: 100%;
    height: auto;
  }
}

/*420 и меньше */
/*320 и меньше */
@media only screen and (min-width: 1200px) {
  .archivepage-title {
    margin-bottom: 25px;
  }
  .archivepage-car:first-child {
    margin-top: 0px;
  }
}

/*1200 и меньше */
@media only screen and (max-width: 1200px) {
  .archivepage-content-wrap {
    max-width: 900px;
    padding: 0;
    margin: 30px auto;
  }
  .archivepage-title {
    margin-top: 25px auto;
  }
  .archivepage-filters {
    display: none;
  }
  .archive-mobile-filters {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 15px 0px 0px;
  }
  .archive-mobile-filters select {
    margin: 0;
  }
  .archive-mobile-filter {
    margin: 0 10px;
    width: 34%;
  }
  .archivepage-cars {
    width: 100%;
  }
  .archivepage-pagination {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*991 и меньше */
@media only screen and (max-width: 991px) {
  .archivepage-content-wrap {
    max-width: 100%;
    padding: 0px 30px 0px;
  }
  .archive-mobile-filters {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .archive-mobile-filter {
    margin: 0;
    width: 48%;
  }
  .archivepage-cars {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: auto;
    width: 100%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .archivepage-car {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height: auto;
    width: 48%;
  }
  .archivepage-car__logo {
    width: 100%;
    padding: 9px 9px 0px 9px;
  }
  .archivepage-car__img {
    height: auto;
    width: 100%;
    min-width: auto;
    border-radius: 10px 10px 0px 0px;
  }
  .archivepage-car__details {
    display: block;
    height: auto;
  }
  .archivepage-car__details li::after {
    content: "";
  }
  .archivepage-car__details li:last-child::after {
    content: "";
  }
  .archivepage-car__viewDetailsBtn {
    margin-bottom: 20px;
  }
  .archivepage-car_padding {
    margin-left: 15px;
    margin-right: 15px;
  }
}

/*768 и меньше */
@media only screen and (max-width: 768px) {
  .archivepage-cars {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .archivepage-car {
    width: 70%;
  }
}

/*660 и меньше */
@media only screen and (max-width: 660px) {
  .archivepage-car {
    width: 100%;
  }
}

/*550 и меньше */
@media only screen and (max-width: 550px) {
  .archivepage-car {
    width: 100%;
  }
}

/*420 и меньше */
@media only screen and (max-width: 420px) {
  .archive-mobile-filters {
    display: block;
  }
  .archive-mobile-filter {
    width: 100%;
  }
  .archive-mobile-filter:first-child {
    margin-bottom: 15px;
  }
}

/*320 и меньше */
